body {
	position: static !important;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	overflow: auto !important;
}
.content {
	min-height: 90vh;
	padding: 1.5rem 0;
}

.goods {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1rem;
}
